@import "../../../assets/styles/config.scss";
.shelf {
  display: flex;
  //border-top: 1px solid $shelf-border;
  border-bottom: 1px solid $shelf-border;
  color: $product-text;
}

.shelf_data {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $shelf-padding;
}
.shelf_slotsHeader,
.shelf_slotsCount {
  text-align: right;
}

.shelf_type,
.shelf_amount {
  font-weight: bold;
  color: $shelf-text-strong;
}
