@import "../../../assets/styles/config.scss";

.cancel {
  display: flex;
  justify-content: flex-end;
  max-height: 1.5rem;
  min-height: 1.5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 11px;
}
