@import "../../../assets/styles/config.scss";
.product {
  display: flex;
  border-bottom: 1px solid $product-border;
  color: $product-text;
}

.product_data {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $product-padding;
}
.product_amount,
.product_products {
  text-align: right;
}

.product_slot_and_level,
.product_amount {
  font-weight: bold;
  font-size: 20px;
  color: $product-text-strong;
}

.addProducts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
