@import "../../assets/styles/config.scss";

.products_header {
  display: flex;
  justify-content: center;
  font-size: $products-fontsize;
  border-bottom: 1px solid $product-border;
}
.productslist {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.cancel {
  display: flex;
  align-items: flex-end;
}
