@import "../../../assets/styles/config.scss";
.product {
  display: flex;
  border-bottom: 1px solid $shelf-border;
  color: $product-text;
}

.product_data {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $shelf-padding;
}
.product_amount,
.product_timespan,
.product_average {
  text-align: right;
}

.product_type,
.product_amount {
  font-weight: bold;
  color: $shelf-text-strong;
}
