@import "../../../assets/styles/config.scss";
.product {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $shelf-border;
  color: $product-text;
}
.product_name {
  display: flex;
  font-weight: bold;
  color: $shelf-text-strong;
}
.product_nameTemp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product_data {
  flex-direction: row;
  padding: $shelf-padding;
}

.badState {
  display: flex;
}
.buttons {
  display: flex;
  flex-direction: row;
}
