@import '../../assets/styles/config.scss';

.search_table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search_table a {
  text-decoration: none;
  color: #000000;
}

.list:hover {
  transform: scale(1.5);
}
.filterText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filterText_first {
  font-size: 16px;
}
.filterText_second {
  font-size: 8px;
}
