@import "../../assets/styles/config.scss";

.search_table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search_table a {
  text-decoration: none;
  color: #000000;
}

.list:hover {
  transform: scale(1.5);
}
