@import "../../../assets/styles/config.scss";

.area {
  background-image: $temp-background;
  margin: 9px;
  color: $menu-text;
  max-height: 1rem;
  min-height: 0.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.view {
  display: flex;
  justify-self: center;
}

.dot {
  animation: blink 3.5s infinite;
  display: flex;
  flex-direction: row;
}
