@import "../../../assets/styles/config.scss";

.area {
  background-image: $temp-background;
  margin: 1%;
  color: $menu-text;
  max-height: $menu-height;
  min-height: $menu-height;
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.dot {
  animation: blink 3.5s infinite;
  display: flex;
  flex-direction: row;
}
