@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

.app {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  font-family: "Langar", sans-serif;
  max-width: 38rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app > * {
  flex: 1 1 auto;
}
