@import "../../assets/styles/config.scss";
.content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
}
