@import "../../assets/styles/config.scss";

.header {
  background-image: $header-background;
  color: $header-text;
  max-height: $header-height;
  min-height: $header-height;
  font-size: $header-fontsize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings_icon {
  background-color: rgba(0, 255, 255, 0);
  position: absolute;
  display: flex;
  max-height: 1%;
}
