$header-background: linear-gradient(to right, #434343 0%, black 100%);
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.3rem;

$scrollbar-track: linear-gradient(120deg, #a1c4fd 5%, #c2e9fb 100%);
$scrollbar-thumb: #000000;
$scrollbar-width: 0.5rem;

$products-fontsize: 1.7rem;

$product-border: #000000;
$product-text: #999999;
$product-text-strong: #000000;
$product-padding: 0.6rem;

$shelf-border: #000000;
$shelf-text: #999999;
$shelf-text-strong: #000000;
$shelf-padding: 0.75rem;

$menu-background: linear-gradient(to right, #434343 0%, black 100%);
$menu-text: #ffffff;
$menu-height: $header-height;
