$header-background: linear-gradient(to right, #434343 0%, black 100%);
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 0.8rem;

$scrollbar-track: rgba(168, 209, 168, 0);
$scrollbar-thumb: #000000dc;
$scrollbar-width: 0.3rem;

$products-fontsize: 1.7rem;

$product-border: #00000034;
$product-text: #000000;
$product-text-strong: #000000;
$product-padding: 0.6rem;

$shelf-border: #0000002f;
$shelf-text: #999999;
$shelf-text-strong: #02031b;
$shelf-padding: 0.75rem;

$menu-background: linear-gradient(to right, #434343 0%, black 100%);
$menu-text: #ffffff;
$menu-height: $header-height;

$temp-background: linear-gradient(
  to right,
  rgba(65, 109, 151, 0) 100%,
  #a1c4fd00 0%
);
$temp-text: #ffffff;
$temp-height: 3rem;
